<section [@fadeInOut]>
    <div class="py-28 flex items-center h-screen text-white">
      <div class="container_sections flex flex-col lg:flex-row items-center justify-center">
        <div class="min-w-fit">
          <img class="aspect-[415/286]" src="../../../assets/img/error.png" alt="error" />
        </div>
        <div class="md:max-w-xl mx-auto space-y-7">
          <div class="space-y-5">
            <h2 class="lg:text-start font-medium text-3xl md:text-5xl leading-tight">
              Te avisaremos cuando la app esté lista para descargar
            </h2>
            <p>
              Gracias por tu paciencia... Porque lo bueno, sabroso y sexoso se hace esperar.
            </p>
          </div>
          <div class="text-center">
            <a routerLink="/" class="btn_primary">
              Ir al inicio
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  