
<div #componentElement>
<section class="container_setions relative space-y-16">
    <div>
        <br><h3 class="text-2xl md:text-4xl text-center">
            Descubre todas nuestras funciones...
        </h3><br><br>
        <div  >
            <div class="grid justify-center md:pl-5" >
                <div class="w-[80%]" [@parentAnimation] *ngIf="showElement">
                    <img src="../../../assets/img/mobile_screens.png" alt="mobile_screens" />
                </div>
            </div>
            <div class=" hidden lg:block absolute top-[37%] left-[10.5%]">
                <div class="card" [@parentAnimation2] *ngIf="showElement">
                    <div style="display: flex;" >
                        <img src="../../../assets/icons/battery.png" style="width: 15%; height: 15%;" alt="">
                        <h4 class="card-title" style="font-size: 20px;"> Paga con tus apps favoritas</h4>
                    </div><br>
                    <p class="card-text">Podrás pagar con Yape, Plin, Tarjetas deb/cred o en Efectivo.</p>
                </div>
            </div>
            <div class=" hidden lg:block absolute top-[23%] right-[14%]">
                <div class="card" [@parentAnimation2] *ngIf="showElement">
                    <div style="display: flex;" >
                        <img src="../../../assets/icons/battery.png" style="width: 15%; height: 15%;" alt="">
                        <h4 class="card-title" style="font-size: 20px;">Encuentra todo tipo de TELOS</h4>
                    </div><br>
                    <p class="card-text">En nuestra sección "Descubre" encontrarás una variedad de Telos según tus preferencias.</p>
                </div>
            </div>
            <div class="motion-div hidden lg:block absolute top-[75%] left-[17%]">
                <div class="card" [@parentAnimation2] *ngIf="showElement">
                    <div style="display: flex;">
                        <img src="../../../assets/icons/battery.png" style="width: 15%; height: 15%;" alt="">
                        <h4 class="card-title" style="font-size: 20px;">Gana recompensas</h4>
                    </div><br>
                    <p class="card-text">Recibirás TELOcréditos según el número de reservas que tengas mediante nuestra app.</p>
                </div>
            </div>
            <div class="motion-div hidden lg:block absolute bottom-[20%] right-[18%]">
                <div class="card" [@parentAnimation2] *ngIf="showElement">
                    <div style="display: flex;">
                        <img src="../../../assets/icons/battery.png" style="width: 15%; height: 15%;" alt="">
                        <h4 class="card-title" style="font-size: 20px;">Guarda tus TELOS favoritos</h4>
                    </div><br>
                    <p class="card-text">Podrás añadir los TELOS que te vacilaron a nuestra sección "Favoritos".</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    
   
    
</div>